.button{
	font-family: 'ubuntu', sans-serif;
	font-size: 18px;
	line-height: 54px;
	background-color: #77c344;
	color: #fff;
	cursor: pointer;
	text-transform: uppercase;
	border-radius: 4px;
	display: block;
	padding: 0 15px;
	text-align: center;
	border: none;
	-webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}
.button:hover{
	background-color: #ffce54;
}
.button-signup{
	width: 113px;
	position: absolute;
	top:0;
	right: 1px;
}
.form-control .button-signup{
	width: 190px;
	font-size: 20px;
    line-height: 68px;
    top: 1px;
    right: 3px;
}
