.block-nav{margin: 0 -20px 0 0;}
.nav{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    padding: 5px 0 0;
}
.nav .nav-item{
    display: inline-block;
    text-decoration: none;
    opacity: 0.84;
    color: #2d394c;
    font-family: 'ubuntu', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    margin: 0 44px 10px 0;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}
.nav .nav-item:last-child{
    margin: 0 0 10px;
}
.nav .nav-item:hover{
    color:#65a9d8;
}
.nav-mobile{display: none;}
.nav-mobile ul{
    list-style-type: none;
    display: none;
    padding: 0;
    position: absolute;
    top: 87px;
    right: -320px;
    background: #ffce54;
    padding:10px;
    margin: 0;
    width: 300px;
    -webkit-transition: right 0.6s ease;
    -moz-transition: right 0.6s ease;
    -o-transition: right 0.6s ease;
    transition: right 0.6s ease;
}
.nav-mobile ul li a{
    color: #fff;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;
}
.nav-mobile ul li a:hover{color:#65a9d8;}
.is-open .nav-mobile ul{
    right: 0;
    display: block;
}
.nav-mobile .nav-toggle{
    display: block;
    border-bottom: 17px double #66aada; 
    border-top: 6px solid #66aada; 
    content:"";
    height: 28px; 
    width:30px;
}