.swiper-container {
  width: 100%;
  max-width: 735px;
  height: 100%;
  margin: 0;
  position: initial;
}
.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color:#000;
  opacity: 1;
  background: rgba(0,0,0,0.2);
}
.swiper-pagination-bullet-active {
  color:#fff;
  background: #007aff;
}
.swiper-pagination-bullet{
  width: 27px;
  height: 27px;
  font-family: 'ubuntu', sans-serif;
  font-size: 15px;
  line-height: 27px;
  color:#cbcdd0;
  background-color: rgba(0,0,0,0);
}
.swiper-pagination-bullet-active{
  background-color: #64a4d7;
  color:#fff;
}